// Margin
.mar-auto {
  margin: auto;
}
.m-top-10 {
  margin: 10px 0 0;
}
.m-top-15 {
  margin: 15px 0 0;
}
.m-top-20 {
  margin: 20px 0 0;
}
.m-top-25 {
  margin: 25px 0 0;
}

// Padding
.py-5 {
  padding: 5px 0;
}
.py-10 {
  padding: 10px 0;
}
.py-15 {
  padding: 15px 0;
}
.py-20 {
  padding: 20px 0;
}

.p-top-5 {
  padding: 5px 0 0;
}
.p-top-10 {
  padding: 10px 0 0;
}
.p-top-15 {
  padding: 15px 0 0;
}
.p-top-20 {
  padding: 20px 0 0;
}

.p-bottom-5 {
  padding: 0 0 5px;
}
.p-bottom-10 {
  padding: 0 0 10px;
}
.p-bottom-15 {
  padding: 0 0 15px;
}
.p-bottom-20 {
  padding: 0 0 20px;
}
