.navbar {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 1rem;
  position: absolute;

  @include md() {
    padding: 2rem;
  }

  &__login {
    padding: 5px;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 0 auto;
    cursor: pointer;
  }
}
